{#
{% form_theme form _self %}

{% block appbundle_trick_photos_entry %}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.file) }}
        </div>
        <div class="col-md-6">
            <button>Supp</button>
        </div>
    </div>
{% endblock %}


#}



<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="well">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <fieldset>
                {% if trick is defined %}
                    <legend>Modifier la figure</legend>
                {% else %}
                    <legend>Nouvelle figure</legend>
                {% endif %}

                <div class="form-group">
                    {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Description'}}) }}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(form.category) }}
                    </div>
                </div>
                {# Photo form #}
                <div class="form-group">
                    {{ form_label(form.photos, 'Photos', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form_widget(form.photos) }}
                        </div>
                    </div>
                </div>
                <a href="#" id="add_photo" class="btn btn-default">Ajouter une photo</a>
                {# Videos form #}
                <div class="form-group">
                    {{ form_label(form.videos, 'Vidéos', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form_widget(form.videos) }}
                        </div>
                    </div>
                </div>
                <a href="#" id="add_video" class="btn btn-default">Ajouter une video</a>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3 text-right">
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
</div>