{% extends "@FOSUser/layout.html.twig" %}

{% form_theme form _self %}
{% block _fos_user_registration_form_photo_row %}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
    <div class="col-xs-12">
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="well">
                <legend>S'enregistrer</legend>
                <form action="{{ path("fos_user_registration_register") }}" method="post">
                    {#First Name#}
                    <div class="form-group">
                        {{ form_label(form.username, 'Prénom', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}})}}
                        {{ form_errors(form.username) }}
                    </div>
                    {#Name#}
                    <div class="form-group">
                        {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}})}}
                        {{ form_errors(form.name) }}
                    </div>
                    {#Email#}
                    <div class="form-group">
                        {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse e-mail'}})}}
                        {{ form_errors(form.email) }}
                    </div>
                    {#Password#}
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}})}}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    {#Password confirmation#}
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}})}}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                    {#Photo#}
                    <div class="form-group">
                        {{ form_label(form.photo, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.photo, {'attr': {'class': 'form-control'}})}}
                        {{ form_errors(form.photo) }}
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Je m'enregistre</button>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
