{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center message">
            <p>Vous connecter est obligatoire pour pouvoir contribuer à ce site.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="well">
                <legend>Se connecter</legend>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {#First Name#}
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    {#Password#}
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="form-control" type="password" id="password" name="_password" />
                    </div>
                    {#Remember Me#}
                    <div class="form-group text-center">
                        <span>Se souvenir de moi </span><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                    <div class="text-center" style="margin-bottom: 10px">
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('fos_user_registration_register') }}">Je m'inscris maintenant</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}


