<div id="comment_figure">
    <div id="comments_post_figure">

        <span>Messages</span>


        {% for comment in listComments %}
    <div class="row">
        <div class="col-xs-2">
            {% if comment.author.photo is not null %}
            <img src="{{ asset(comment.author.photo.webPath) }}" alt="{{ comment.author.username }}" />
            {% else %}
            <img src="{{ asset('images/unknown.png')  }}" alt="" />
            {% endif %}
        </div>
        <div class="col-xs-10">
            Le {{ comment.dateCrea|date("d-m-Y à H:i:s") }},
            {{ comment.author.username }} {{ comment.author.name }} a dit :
            <p>{{ comment.content|nl2br }}</p>
        </div>
    </div>
{% else %}
    <p class="text-center">Pas encore de commentaires.</p>
{% endfor %}

        <div id="comment_pagination">
<ul class="pagination">
    {% for p in range(1, nbPages)  if nbPages != 0 %}
        <li{% if p == page %} class="active"{% endif %}>
            <a class="pagin" {% if nbPages < 1 %}href="#"{% endif %}>{{ p }}</a>

        </li>
    {% endfor %}
</ul>
